*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.game-board{/*Fundo do personagem*/
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.chao{/*chao do persobagem, com fundo de pedra*/
    background-image: url("../imagens/chao.png");
    width: 100%;     
    bottom: 0;       
    position: absolute;
    overflow: hidden;     
    height: 50px;  
      
}

.fundo-game-over{/*Tela de game over, so aparece quando o jogador perde*/
    box-shadow: inset 0px 0px 20px 600px rgb(0 0 0 / 50%);
    filter: blur(2px);
}

body{
    overflow: hidden;
}

.pipe{/*cano*/
    position: absolute;
    bottom: 0;
    width: 90px;
    animation: pipe-animation 1.5s infinite linear;
    right: -70px;
}

.mario{/*personagem*/
    width: 90px;
    position: absolute;
    bottom: 40px;
    
}

.jump{/*animacao do pulo*/
    animation: jump 550ms cubic-bezier(0, 0, 0.2, 1)
}

.game-over{/*animacao ao perder*/
    animation: game-over 1.5s;
}

.fundo-game-over-nuve{/*borrar nuvem ao perder*/
    filter: blur(2px);
    filter: drop-shadow(inset 0px 0px 20px 600px rgb(0 0 0 / 50%));
}

.clouds{/*nuvens*/
    width: 250px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

.clouds1{/*nuvens*/
    width: 250px;
    position: absolute;
    animation: clouds-animation1 20s infinite linear;
    animation-delay: 5s;
    right: -250px;
}

.contagem{/*alinhar timer na tela*/
    display: flex;
    justify-content: center;    
    color: #000;    
    
}

.timer{/*timer*/
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 35px;
    position: absolute;
    top: 100px
}

.tela-game-over{/*tela que aparece quando o jogador perde o jogo*/
    position: absolute;
    display: none;
    width: 60%;
    height: 500px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 5px;
    padding: 20px 100px;
    opacity: 50px;
    background-image: url(../imagens/2014-09-08-super-mario-curiosidades.webp)
}

h1{/*titulo da tela de game over*/
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: red;
    border-radius: 20px;
    border: 10px solid;
    width: 50%;
    padding: 10px; 
    margin-left: auto;
    margin-right: auto;    
}

h6{
    text-align: top;
    font-size: medium;
    color: red;
    margin-bottom: -50%;   
    
}

.div-button{/*alinhar botao na tela de game over*/
    width: 100%;
    height: 75%;
    margin: left;
    display: flex;
    justify-content: right;
    align-items: center;     
    letter-spacing: 0.2rem;

}

button{/*botao da tela de game over*/
    
    color: black;
    border: 5px solid;
    border-radius: 10px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    background-color: rgb(17, 241, 9);
    padding: 0,5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: transforme 100ms linear, opacity 200ms ease-in-out; 
    align-items: initial; 
    margin-bottom: -40%; 
      
}

p{/*texto da contagem da tela de game over*/
    color: red;
    border: 2px solid;
    border-radius: 10px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    background-color: white;
    padding: 2px;    
    letter-spacing: 0.5rem;    
    margin-bottom: 20%; 
    align-items: center;        
}

button:hover {
    background-color: blue;
    transform: scale(1.08);
}

.none{/*tira audios da tela*/
    display: none;
}

/* Animacoes */
@keyframes pipe-animation {/*fazer o cano passar na tela*/
    0%{
        right: -70px;
    }
    100%{
        right: 100%;
    }
}
/*bomba*/
@keyframes bomba-animation {/*fazer o cano passar na tela*/
    0%{
        right: -70px;
    }
    100%{
        right: 100%;
    }
}

@keyframes jump{/*amnimacao do pulo*/
    0%{
        bottom: 0px;
    }
    40%{
        bottom: 250px;
    }
    50%{
        bottom: 250px;
    }
    70%{
        bottom: 250px;
    }
    100%{
        bottom: 0px;
    }
}

@keyframes game-over {/*animacao de game over, faz personagem pular e sumir da tela*/
    40%{
        bottom: 250px;
    }
    70%{
        bottom: -250px;
    }
    100%{
        bottom: -250px;
    }
}

@keyframes clouds-animation {/*animacao da nuvem*/
    0%{
        right: -250px;
    }
    100%{
        right: 100%;
    }
}

@keyframes clouds-animation1 {/*animacao da nuvem*/
    0%{
        right: -250px;
    }
    100%{
        right: 100%;
    }
}

/*Responsividade*/
@media screen and (max-width: 514px) {
    .tela-game-over{
        width: 99%;
        padding: 20px 50px;
    }
    .game-board{
        height: 450px;
    }

    .mario{
        width: 150px;
        position: absolute;
        bottom: 0;
        z-index: 999;
    }

    .pipe{
        position: absolute;
        bottom: 0;
        width: 50px;
        animation: pipe-animation 1s infinite linear;
        animation-delay: 1s;
    }

    @keyframes jump{
        0%{
            bottom: 0px;
        }
        40%{
            bottom: 200px;
        }
        50%{
            bottom: 200px;
        }
        70%{
            bottom: 200px;
        }
        100%{
            bottom: 0px;
        }
    }
}
 
